.for-you {
  $marker-size: 40px;

  padding: 60px 0;

  @media (min-width: $screen-md) {
    padding: 80px 0;
  }

  @media (min-width: $screen-lg) {
    padding: 100px 0;
  }

  @media (min-width: $screen-xl) {
    padding: 140px 0;
  }

  &__inner {
    @include container();
  }

  &__title {
    margin-top: 0;
    text-align: center;
  }

  &__list {
    counter-reset: for-you;
    padding-left: 0;
  }

  &__item {
    position: relative;
    padding-top: 6px;
    padding-left: 55px;
    margin-bottom: 25px;
    list-style: none;

    &::before {
      content: counter(for-you);
      counter-increment: for-you;
      position: absolute;
      top: 0;
      left: 0;
      width: $marker-size;
      height: $marker-size;
      border: 1px solid $color-main;
      padding-top: 4px;
      font-size: 20px;
      text-align: center;
      font-weight: 700;
      color: $color-main;
      border-radius: 50%;
      box-shadow: 0px 1px 4px 0px rgba($color-main, 0.5);
    }

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: $marker-size;
      left: ($marker-size / 2);
      width: 1px;
      height: calc(100% - 15px);
      background-color: $color-main;
    }
  }
}
